/* Добавьте черный цвет фона в верхнюю навигацию */
.topnav {
  background-color: #333;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%
}

/* Стиль ссылок внутри панели навигации */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Изменить цвет ссылок при наведении */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Добавьте цвет к активной / текущей ссылке */
.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

/* Container needed to position the button. Adjust the width as needed 1 */
.container { /* размер изображения*/
  position: relative:;
  color: black;
  width: 100%;
}

/* Make the image responsive ++++++++++++++++ */


.wrapper {
height: 100vh;
overflow-x: hidden;
overflow-y: auto;
perspective: 2px;
}
.wrapper {
height: 100vh;
overflow-x: hidden;
perspective: 2px;
}
.section {
position: relative;
height: 100vh;
display: flex;
align-items: center;
justify-content: center;
color: white;
text-shadow: 0 0 5px #000;
}
.section {
position: relative;
height: 100vh;
display: flex;
align-items: center;
justify-content: center;
color: white;
text-shadow: 0 0 5px #000;
}
.parallax::after {
content: " ";
position: absolute;
top: 0;
right: 0;
bottom: 0;
left: 0;
transform: translateZ(-1px) scale(1);
background-size: 100%;
z-index: -1;
}
.parallax::after {
content: " ";
position: absolute;
top: 0;
right: 0;
bottom: 0;
left: 0;
transform: translateZ(-1px) scale(1);
background-size: 100%;
z-index: -1;
}
.static {
background: #006400;
}
.static {
background: #006400;
}
.bg1::after {
background-image: url('https://krot.info/uploads/posts/2021-12/1638512259_27-krot-info-p-koster-na-beregu-ozera-krasivie-foto-27.jpg');
}
.bg2::after {
background-image: url('http://s1.fotokto.ru/photo/full/172/1723531.jpg');
}